/.metadata/
/frontend/node_modules
/chat/node_modules

/Apigateway/.mvn
/Apigateway/mvnw
/Apigateway/mvnw.cmd

/EurekaServer/.mvn
/EurekaServer/mvnw
/EurekaServer/mvnw.cmd

/ms-page/.mvn
/ms-page/mvnw
/ms-page/mvnw.cmd

/Groupe/.mvn
/Groupe/mvnw
/Groupe/mvnw.cmd

/MSPublication-2/.mvn
/MSPublication-2/mvnw
/MSPublication-2/mvnw.cmd

/commentaire/.mvn
/commentaire/mvnw
/commentaire/mvnw.cmd

/ms_evenement/.mvn
/ms_evenement/mvnw
/ms_evenement/mvnw.cmd
